@using PawnShop.Core.Models
@model List<PossessionViewModel>
@{
	ViewBag.Title = "All possessions";
}

<div class="text-center">
	<h1>All available possessions:</h1>
	<div style="display:inline-flex">
		@if (Model.Count > 0)
		{
			@foreach (var possession in Model)
			{
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">@possession.Name</h5>
						<h6 class="card-subtitle mb-2 text-body-secondary">@possession.Location</h6>
						<p>Area: @possession.Area square meters</p>
					</div>
				</div>
			}
		}
		else
		{
			<p>No possessions yet!</p>
		}
	</div>
</div>
