@{
	ViewBag.Title = "Sell possession";
}

<div class="card text-center" style="width: 18rem;display:block;margin-left: auto; margin-right:auto">
    <div class="card-body">
        <h5 class="card-title">Confirm Sell</h5>
        <p class="card-text">Are you sure you want to sell this possession?</p>
        <form method="post">
            <button asp-controller="Possession" asp-action="Sell" class="text-warning">Sell</button>
            <button asp-controller="Possession" asp-action="All">Cancel</button>
        </form>
    </div>
</div>
