@{
	ViewBag.Title = "Buy product?";
}

<div class="text-center">
    <div class="card" style="width: 18rem;display:block;margin-left: auto; margin-right:auto">
        <div class="card-body">
            <h5 class="card-title">Do you want to buy this product?</h5>
            <form method="post">
                <button asp-controller="Product" asp-action="Buy" class="text-success">Buy</button>
                <button asp-controller="Product" asp-action="All">Cancel</button>
            </form>
        </div>
    </div>
</div>
