@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PawnShop</h1>
    <p>The best pawn shop you will ever need!</p>
    <img src="~/HomePageImage.jpg"/>
</div>
