@using PawnShop.Core.Models
@model ChatMessageViewModel
@{
	ViewBag.Title = "Edit message";
}

<h2 class="text-center">Edit message:</h2>
<div>
	<form method="post">
		<div class="mb-3">
			<label for="exampleSender" class="form-label">Sender name</label>
			<input asp-for="Sender" type="text" value="@Model.Sender" class="form-control" id="exampleSender">
			<span asp-validation-for="Sender" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label for="exampleMessage" class="form-label">Message</label>
			<input asp-for="Message" type="text" value="@Model.Message" class="form-control" id="exampleMessage">
			<span asp-validation-for="Message" class="text-danger"></span>
		</div>
		<button asp-controller="Chat" asp-action="Edit" type="submit" name="TimeSent" value="@DateTime.Now" class="btn btn-primary">Submit</button>
	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
